<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649662807599-to6076sc5bvah90f3h4oi02chvnvk9h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649662807599-to6076sc5bvah90f3h4oi02chvnvk9h5</string>
	<key>API_KEY</key>
	<string>AIzaSyCILTGrQvA79novvOriwxXFOPXn2lXnSt8</string>
	<key>GCM_SENDER_ID</key>
	<string>649662807599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eticon.onlygym</string>
	<key>PROJECT_ID</key>
	<string>eticon-onlygym</string>
	<key>STORAGE_BUCKET</key>
	<string>eticon-onlygym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649662807599:ios:d3fc561596d96d0ef510da</string>
</dict>
</plist>